{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block disbursement %}
    active
{% endblock disbursement %}
{% block page %}
    : Disbursement
{% endblock page %}
{% block content %}
    <div class="m-4 disbursement">
        <div class="d-flex justify-content-between mb-4">
            <a type="button"
               href="{% url 'app:home' %}"
               class="btn btn-primary mr-3">Back</a>
            <div class="d-flex align-items-center" style="gap: 20px;">
                    {% comment %} <form action="" method='GET'>
                        <select class="form-select p-2" aria-label="Default select example">
                            <option value="data" selected>
                                Data
                            </option>
                            <option value="duplicates">
                                Duplicates
                            </option>
                        </select>
                    </form> {% endcomment %}
                <button type="button"
                        class=" d-flex btn btn-primary "
                        data-toggle="modal"
                        data-target="#exampleModal"
                        data-backdrop="static"
                        data-keyboard="false"
                        style="gap: 6px;">
                    <svg width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M4.25 5C4.25 3.48122 5.48122 2.25 7 2.25H14.9868C15.5506 2.25 16.0798 2.52157 16.4085 2.97955L19.4217 7.17745C19.6352 7.47488 19.75 7.83178 19.75 8.1979V19C19.75 20.5188 18.5188 21.75 17 21.75H7C5.48122 21.75 4.25 20.5188 4.25 19V5ZM7 3.75C6.30964 3.75 5.75 4.30964 5.75 5V19C5.75 19.6904 6.30964 20.25 7 20.25H17C17.6904 20.25 18.25 19.6904 18.25 19V8.89705H15C14.5858 8.89705 14.25 8.56126 14.25 8.14705V3.75H7Z"
                              fill="current-color"/>
                        <path d="M15.0857 13.2185C14.8269 13.542 14.355 13.5944 14.0315 13.3357L12.7501 12.3105V15.75C12.7501 16.1642 12.4143 16.5 12.0001 16.5C11.5858 16.5 11.2501 16.1642 11.2501 15.75V12.3104L9.96855 13.3357C9.6451 13.5944 9.17313 13.542 8.91438 13.2185C8.65562 12.8951 8.70806 12.4231 9.03151 12.1643L11.5288 10.1665C11.6561 10.0636 11.8177 10.0015 11.9937 10C11.9958 10 11.9979 10 12.0001 10H12.0025C12.1816 10.0006 12.3459 10.0639 12.4746 10.1692L14.9685 12.1643C15.292 12.4231 15.3444 12.8951 15.0857 13.2185Z"
                              fill="current-color"/>
                    </svg>
                    <p>
                        Import File
                    </p>
                </button>
            </div>
        </div>
        <div class="table-responsive border">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="max-content">SN</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Client Code</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Debit Acc no</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Tran Code</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Instruction Date</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Amount</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Bene Name</div>
                        </th>
                        <th scope="col">
                            <div class="max-content">Bane Acc No</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">IFSC Code</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Cust Ref No</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Beneficiary Email ID</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Beneficiary Mobile No</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Remarks</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Transaction Status</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">CMS Ref no</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">UTR No</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Liquidation Date</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Rejection Reason</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Maker</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Authorizer 1</div>
                        </th>
                        <th scope="col">
                            <div class="max-width">Authorizer 2</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in object_list %}
                        <tr>
                            <th scope="row">
                                <div class="max-width">{{ object_list.start_index|add:forloop.counter0 }}</div>
                            </th>
                            <td>
                                <div class="max-width">{{ d.client_code|default_if_none:'' }}</div>
                            </td>
                            <td>
                                <div class="max-width">{{ d.debit_ac_no }}</div>
                            </td>
                            <td>
                                <div class="max-width">{{ d.tran_code }}</div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.instruction_date }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.amount }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.bene_name }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.bene_account_no }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.ifsc_code }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.cust_ref_no }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.beneficiary_email_id|default_if_none:'' }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.beneficiary_mobile_no|default_if_none:'' }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.remarks }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.transaction_status }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.cms_ref_no }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.utr_no }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.liquidation_date }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.rejection_reason }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.maker }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.authorizer1 }}
                                </div>
                            </td>
                            <td>
                                <div class="max-width">
                                    {{ d.authorizer2 }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if object_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ object_list.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">next</a>
                    <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document" id="formModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Upload File
                    </h5>
                    {% comment %} <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                    </button> {% endcomment %}
                    <a href="{% url 'app:disbursement_data_list' %}" type="button"><span aria-hidden="true">&times;</span></a>
                </div>
                <form action=""
                      method="post"
                      id="submitForm"
                      enctype="multipart/form-data"
                      novalidate>
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.file|as_crispy_field }}
                            </div>
                            <div id="loader">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                        </button> {% endcomment %}
                        <a type="button"
                           class="btn btn-secondary"
                           href="{% url 'app:disbursement_data_list' %}">Close</a>
                        <button type="submit" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="alertModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="alertModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel">
                        Duplicate data Found!
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}{{ message }}{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    {{ block.super }}
    <script>
    {% if form_error %}    $("#exampleModal").modal("show");{% endif %}

    {% if messages %}        $("#alertModal").modal("show");{% endif %}

    $("#submitForm").on('submit', function () {
        $("#loader").html("Loading...")
    })
    //$("#formModal").modal({
    //    backdrop: 'static',
    //});
    </script>
{% endblock javascript %}
