{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block disbursement %}
    active
{% endblock disbursement %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="card">
            <div class="card-header">Upload File</div>
            <div class="card-body">
                {% comment %} <h5 class="card-title">Special title treatment</h5> {% endcomment %}
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">{{ form.file|as_crispy_field }}</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning">Upload</button>
                <a href="{% url 'app:lenscrow_data_list' %}" type="button" class="btn btn-danger">Cancel</a>
            </div>
        </div>

        {% comment %} <div class="mb-3">
            <div id="tab-0-header-1" class="card-header bg-dark b-radius-0">
                <div class="m-0 p-0 card-title">Upload Data In A File</div>
            </div>
            <div id="tab-0-collapse-1"
                 aria-labelledby="tab-0-header-1"
                 class="collapse show">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">{{ form.file|as_crispy_field }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block text-right card-footer pt-3">
            <a href="{% url 'tariff:affiliate_module_settings' affiliate head.id %}" class="mr-2 btn btn-wide btn-link btn-lg">Cancel</a>
            <button type="submit" class="btn btn-wide btn-warning btn-lg b-radius-0 float-right">Check Data</button>
        </div> {% endcomment %}
    </form>
{% endblock content %}
