{% extends "base.html" %} {% load static %} 
{% block home %}active{% endblock home %}
{% block content %}



<div class="m-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                {% comment %}
                <div class="card-header">Lenscrow</div>
                {% endcomment %}
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">Lenscrow</h5>
                        {% if lens %}
                        <p class="card-text">
                            <small class="text-muted">Last updated {{ lens.last_updated_datetime|timesince }}
                                ago</small>
                        </p>
                        {% endif %}
                    </div>

                    <p class="card-text">Supported files: (csv)</p>
                    <a href="{% static 'f.csv' %}" download>
                        <div class="d-flex align-items-center download">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" width="1em" height="1em"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="currentColor" d="m12 16l4-5h-3V4h-2v7H8z" />
                                <path fill="currentColor"
                                    d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z" />
                            </svg>
                            <p>Sample File</p>
                        </div>
                    </a>
                    <a href="{% url 'app:lenscrow_data_list' %}">
                        <div class="d-flex align-items-center view">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" width="1em" height="1em"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M11 15h2V9h3l-4-5l-4 5h3z" />
                                <path fill="currentColor"
                                    d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z" />
                            </svg>
                            <p>View / Upload</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                {% comment %}
                <div class="card-header">Disbursement</div>
                {% endcomment %}
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">Disbursement</h5>
                        {% if dis %}
                        <p class="card-text">
                            <small class="text-muted">Last updated {{ dis.last_updated_datetime|timesince }}
                                ago</small>
                        </p>
                        {% endif %}
                    </div>
                    <p class="card-text">Supported files: (csv)</p>
                    <a href="{% static 'd.csv' %}" download>
                        <div class="d-flex align-items-center download">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" width="1em" height="1em"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="currentColor" d="m12 16l4-5h-3V4h-2v7H8z" />
                                <path fill="currentColor"
                                    d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z" />
                            </svg>
                            <p>Sample File</p>
                        </div>
                    </a>
                    <a href="{% url 'app:disbursement_data_list' %}">
                        <div class="d-flex align-items-center view">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" width="1em" height="1em"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M11 15h2V9h3l-4-5l-4 5h3z" />
                                <path fill="currentColor"
                                    d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z" />
                            </svg>
                            <p>View / Upload</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}