{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block lenscrow %}
    active
{% endblock lenscrow %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="card">
            <div class="card-header">Upload File</div>
            <div class="card-body">
                {% comment %} <h5 class="card-title">Special title treatment</h5> {% endcomment %}
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">{{ form.file|as_crispy_field }}</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning">Upload</button>
                <a href="{% url 'app:lenscrow_data_list' %}" type="button" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
{% endblock content %}
