{% extends 'base.html' %} {% block content %}
<section class="login">
  <div class="loginContainer">
    <h3>Login Panel</h3>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label_tag }}
        <input
          type="text"
          name="username"
          class="form-control"
          maxlength="150"
          id="id_username"
          required
        />
      </div>
      <div class="form-group mb-4">
        {{ form.password.label_tag }}
        <input
          type="password"
          name="password"
          class="form-control"
          id="id_password"
          required
        />
      </div>
      {% if form.non_field_errors %} {% for error in form.non_field_errors %}
      <p>{{ error|escape }}</p>
      {% endfor %} {% endif %}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</section>
{% endblock %}
