
{% extends 'base.html' %}
{% block register %}active{% endblock register %}

{% block content %}
<section class="login">
  <div class="loginContainer">
    <h3>Register Panel</h3>
    <form method="post" action="{% url 'app:register' %}">
      {% csrf_token %} {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        <input
          type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
          name="{{ field.html_name }}"
          class="form-control"
          maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
          id="{{ field.id_for_label }}"
          required
        />
      </div>
      {% if field.errors %} {% for error in field.errors %}
      <p style="font-size: 13px">{{ error|escape }}</p>
      {% endfor %} {% endif %} {% endfor %}
      <button type="submit" class="btn btn-primary mt-2">Register</button>
    </form>
  </div>
</section>
{% endblock %}
