.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
}

.login .loginContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 30rem;
  background-color: white;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.025);
  border-radius: 12px;
  padding: 2rem;
}

.login .loginContainer > * {
  width: 100%;
}

.login .loginContainer h3 {
  margin-bottom: 20px;
}

.login .loginContainer p {
  font-size: 13px;
  color: red;
}

.login .loginContainer {
  border-top: 0.4rem solid #1a3597;
  /* border-bottom: 0.45rem solid blue; */
}

.login .loginContainer button {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
}

.card {
 
  outline: none;

  border-radius: 6px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
}
.max-width {
  width: max-content;
}

.disbursement button p {
  margin: 0;
}

.disbursement button svg {
  fill: white;
}

table {
  border-bottom: 1px solid #585858;
}

.navbar{
  padding: 1rem !important;
  background: #4D80CB !important;
}

.navbar img {
  height: 60px;
  width: auto;
}
.navbar h2{
  font-size: 1.6rem;
  margin: 0;
  color: white;
}
.navbar a {
  color: #d6d6d6;
  font-size: 1rem;
  font-weight: 600;
}
.navbar a:hover {
  color: white;
  text-decoration: none;
}
.navbar a.active{
  color: white;
}

.navbar h3 {
  font-size: 1rem;
  color: #d6d6d6;
  font-weight: 600;
  margin-bottom: 0;
  cursor: pointer;
}
.navbar h3:hover {
  color: white;
}
.navbar .userprofile {
  position: relative;
}
.navbar .userDropdown.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.navbar .userDropdown {
  visibility: hidden;
  transition: all ease-in-out 0.2s;
  opacity: 0;
  transform: translateY(-30px);
  display: flex;
  padding: 20px;
  flex-direction: column;
  position: absolute;
  border: none;

  top: 50px;
  right: 0;
  width: 15rem;
  background: white;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
}
.navbar .userDropdown svg {
  height: 22px;
  width: 22px;
}
.navbar .userDropdown .logout svg {
  color: red;
}
.navbar .userDropdown p {
  color: red;
  margin: 0;
}
.navbar .userDropdown a {
  color: #585858;
  margin-bottom: 16px;
}

.navbar .userDropdown a:last-child {
  margin: 0;
}

.card a {
  display: inline-block;
}
.download,
.view {
  gap: 4px;
  border-radius: 6px;
}

.download {
  background-color: #2d69c2;
  padding: 8px;
  color: white;
  margin-right: 20px;
}
.view {
  border: 1px solid #2d69c2;
  padding: 8px;
  color: #585858;
}

.download p {
  margin: 0;
}

.view p {
  margin: 0;
}

.disbursement select{
  border-radius: 6px;
  background: transparent;
}